* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 16, 16);
}

.game-board {
  width: 100vw;
  height: 500px;
  border-bottom: 15px solid #23a023;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: -21px;
  width: 80px;
  right: 80px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.clouds {
  position: absolute;
  width: 520px;
  animation: clouds-animation 20s infinite linear;
}

.game-over {
  display: none;
  position: absolute;
  left: 39%;
  top: 50%;
  z-index: 1;
  width: 300px;
  animation: zoom 2s forwards;
}

#restartBtn {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  font-size: 2em;
  font-weight: 800;
  border: none;
  top: 15vh;
  left: 40vw;
  background-color: rgba(176, 12, 12, 0.718);
  color: #fff;
  box-shadow: 0 0 20px #e11a1a;
}

#restartBtn:hover {
  background-color: rgb(163, 6, 6);
  color: #fff;
  cursor: pointer;
  transform: scale(1.3);
}

#score {
  position: absolute;
  font-weight: bolder;
  font-size: 3rem;
  left: 2rem;
  z-index: 1;
  background-color: #0949773a;
  color: #fff;
  text-shadow: 0 0px 20px #e11a1a;
  padding: 15px;
  border-radius: 0 0 20px 20px;
}

@keyframes zoom {
  from {
    transition: all 0s;

    transform: scale(0);
  }

  to {
    transition: all 1s linear;

    transform: scale(2.5);
  }
}

.zoom {
  transition: all 1s linear;
  transform: scale(2.5);
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}
